{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="shortcut icon" href="/static/css/favicon.ico" type="image/x-icon">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet">
        <title>State and Edit</title>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3"> <p><font size="6" face="cursive"> <font color="red"> A&amp;K </font> Search </font></p></div> 
                    <div class="col-lg-9">
                        <ul class="nav navbar-nav">                    
                            <li>
                                <a href="home.html"><span class="glyphicon glyphicon-home" style="margin-right: 10px;"></span>Home </a>
                            </li>
                            <li>
                                <a href="indexURL.html"> Index URL </a>
                            </li>
                            <li>
                                <a href="knownURL.html"> Known URL </a>
                            </li>
                            <li class="btn-danger">
                                <a href="stateAndEdit.html" style="color: rgb(200, 250, 250);"> Index </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <h4 id="t1"><ins>Count: {{ ind_cnt }}</ins></h4>
            </div>
            <form method="post" action="/stateAndEdit.html">
                <div class="col-lg-6">
                    <input name="id" type="number" class="form-control" placeholder="Input Id">
                </div>
                <button type="submit" class="btn btn-danger col-lg-3">
                    <span class="glyphicon glyphicon-remove" style="margin-right: 20px;"></span>Delete
                </button>
                <div class="row" id="heading">
                    <div class="panel panel-primary filterable">
                        <table class="table" style="width:1150px;table-layout:fixed;">
                            <tbody>
                                 <tr>
                                    <th style="width:150px;"><b><font color="red">ID</font></b></td>
                                    <th style="width:600px;"><b>Word</b></td>
                                    <th style="width:200px;"><b>Frequency</b></td>
                                    <th style="width:200px;"><b>Document ID</b></td>
                                </tr>
                                {% for ind in index %}
                                <tr>
                                    <td style="width:150px;word-wrap: break-word;">{{ ind.id }}</td>
                                    <td style="width:600px;word-wrap: break-word;">{{ ind.word }}</td>
                                    <td style="width:200px;word-wrap: break-word;">{{ ind.freq }}</td>
                                    <td style="width:200px;word-wrap: break-word;">{{ ind.doc.id }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if index.has_previous %}
                            <a href="?page={{ index.previous_page_number }}">Previous</a>
                        {% endif %}
                        
                        {% if index.has_previous or index.has_next %}
                        <span class="current">
                            Page {{ index.number }} of {{ index.paginator.num_pages }}.
                        </span>
                        {% endif %}
                        
                        {% if index.has_next %}
                            <a href="?page={{ index.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
                {% csrf_token %}
            </form>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/css/js/bootstrap.min.js"></script>
    </body>
</html>